/*----------Custom Icons----------*/
.cd-form .icon input{
  padding-left: 54px !important;
}
.cd-form .b-isbn {
  background: url("../img/icons8-key-50.svg") no-repeat 2px center;
}
.cd-form [required].b-isbn {
  background: url("../img/icons8-key-50.svg") no-repeat 2px center, url("../img/ic_required.svg") no-repeat top right;
}
.cd-form .b-copies {
  background: url("../img/icons8-series-50.svg") no-repeat 2px center;
}
.cd-form [required].b-copies {
  background: url("../img/icons8-series-50.svg") no-repeat 2px center, url("../img/ic_required.svg") no-repeat top right;
}